body {
  font-family: arial;
  font-size: 16px;
  line-height: 1.6em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 3px solid #f4f4f4;
}

header a {
  color: #000;
}

footer {
  padding-top: 5px;
  border-top: 3px solid #f4f4f4;
  text-align: center;
}

.container {
  width: 60%;
  margin: 0 auto;
  overflow-y: auto;
}

main {
  padding-bottom: 20px;
}

a.start {
  display: inline-block;
  padding: 6px 13px;
  color: #666;
  background: #f4f4f4;
  border: 1px dotted #ccc;
}

.current {
  padding: 10px;
  margin: 20px 0 10px;
  background: #f4f4f4;
  border: 1px dotted #ccc;
}

label span {
  display: inline-block;
  width: 200px;
}

input[type='text'] {
  padding: 4px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type='number'] {
  padding: 4px;
  width: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 80%;
  }
}